@import '../../base/_mixins.scss';
@import '../../base/_variables.scss';
@import '../../base/_colors.scss';

.authenticated-button {
    background-color: $color-EBEBEB;
    border: 0.5px solid #0000001a;
    color: $color-858585;
    border-radius: 8px;
    padding: 12px 16px;
    transition: all 200ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

    svg {
        path {
            transition: all 200ms linear;
        }
    }

    &:hover {
        background-color: $color-111111;
        color: $color-fff;
        border: 0.5px solid $color-111111;

        svg {
            path {
                stroke: $color-fff;
            }
        }
    }
}

.authenticated-button-black {
    background-color: $color-111111;
    color: $color-fff;
    border: 0.5px solid $color-111111;
    border-radius: 8px;
    padding: 12px 16px;
    transition: all 200ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

    svg {
        path {
            stroke: $color-fff;
        }
    }

    &:hover {
        background-color: $color-111111;
        color: $color-fff;
        border: 0.5px solid $color-111111;
    }
}

.close-authenticated-popup {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.authenticated-popup-wrap-send {
    background-color: #00000033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 480px;
    width: 100%;
    display: none;

    .authenticated-popup-send {
        background-color: $color-fff;
        position: relative;
        padding: 44px 56px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 0px 4px 0px #00000026;
        text-align: center;

        p{
            font-size: 17px;
            font-weight: 400;
            color: $color-111111;
            line-height: 1.3em;
            margin-bottom: 0;
        }
        
        button{
            width: 100%;
            text-align: center;
        }
    }
}


.authenticated-popup-wrap-confirm {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 44%);
    padding: 54px 8px;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 480px;
    width: 100%;
    display: none;

    .authenticated-popup-confirm {
        position: relative;
        background-color: $color-fff;
        box-shadow: 0px 0px 16px 0px #00000026;
        border-radius: 12px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        &>div:nth-child(2){
            width: 100%;
            text-align: start;
            direction: rtl;
            padding-inline-end: 40px;
        }

        p{
            font-size: 14px;
            font-weight: 400;
            color: $color-111111;
            line-height: 1.3em;
            margin-bottom: 0;
        }

        h5{
            font-size: 17px;
            font-weight: 700;
            color: $color-111111;
            line-height: 1.3em;
            margin-bottom: 4px;
        }

        button{
            width: 100%;
            text-align: center;
        }
    }
}