$white: #ffffff;
$black: #000000;
$dark:#030A11;
$blu: rgba(6, 50, 90, 1);

$color-fff: #fff;
$color-000000: #000000;
$color-111111: #111111;
$color-d4af36: #d4af36;
$color-F5F5F5: #f5f5f5;
$color-949494: #949494;
$color-BFBFBF: #bfbfbf;
$color-8F6B45: #8f6b45;
$color-C7A77F: #c7a77f;
$color-E66702: #E66702;
$color-9E9E9E: #9E9E9E;
$color-3D240F: #3D240F;
$color-6E6E6E: #6E6E6E;
$color-E22400: #E22400;
$color-b1b1b1: #b1b1b1;
$color-DFDFDF: #DFDFDF;
$color-D2E4FA: #D2E4FA;
$color-402710: #402710;
$color-595959: #595959;
$color-838383: #838383;
$color-333333: #333333;
$color-E0E0E0: #E0E0E0;
$color-858585: #858585;
$color-F0ECE6: #F0ECE6;
$color-FAFAFA: #FAFAFA;
$color-262626: #262626;
$color-F5F3F0: #F5F3F0;
$color-0D0D0D: #0D0D0D;
$color-EBEBEB: #EBEBEB;
$color-8F8F8F: #8F8F8F;
